p {
	font-size: 0.5em;
	line-height: 1.4em;
	color: black;
}

#intro {
	font-size: 1.0em;
	line-height: 1.4em;
	color: black;
}

#row1 {
	display: flex;
}

#row1_box1 {
	background-color: skyblue;
}

#row1_box2 {
    position: relative;
    z-index:1;
    overflow:hidden;
}
#row1_box2:before {
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: url('images/pexel1.jpeg');
    opacity:0.4;
}

#row2 {
	display: flex;
}

#row2_box1 {
	border: 5px solid purple;
}	

#row2_box2 {
	border: 5px solid blue;
}
	
#row2_box3 {
	border: 5px solid green;
}

#row3 {
	display: flex;
}

#row3_box1 {
	background-color: yellow;
}

#row3_box2 {
	background-color: orange;
}

#row4 {
	display: flex;
}

#row4_box1 {
	background-color: magenta;
}

#row4_box2 {
	background-color: coral;
}