p {
	font-size: 0.5em;
	line-height: 1.4em;
	color: black;
}

#row1 {
	display: flex;
}

#row1_box1 {
	background-color: skyblue;
	border: 5px solid #003399;margin-left: 10px;
}

#row1_box2 {
    background-color: grey;
    border: 5px solid #003399;
}

#headshot {
	float: left;
	border: 5px solid #003399;
	margin-right: 35px;
}

#intro {
	font-size: 1.25em;
	line-height: 1.5em;
	color: black;
}

#row2 {
	display: flex;
}

#row2_box1 {
  border: 5px solid #003399;
  margin-left: 10px;
}

#row2_box2 {
	border: 5px solid #003399;
}
	
#row2_box3 {
	border: 5px solid #003399;
	margin-right: 10px;
}

#row3 {
	display: flex;
}

#row3_box1 {
	border: 5px solid #003399;
	margin-left: 10px;
}

#row3_box2 {
	border: 5px solid #003399;
	margin-right: 10px;
}

#row4 {
	display: flex;
}

#row4_box1 {
	border: 5px solid #003399;
	margin-left: 10px;
}

#row4_box2 {
	border: 5px solid #003399;
	margin-right: 10px;
}